{
  "cliPluginsExtraDirs": [
    "{{ (output "brew" "--prefix" | trim) }}/lib/docker/cli-plugins",
    "{{ .chezmoi.homeDir }}/.docker/cli-plugins"
  ],
  "credsStore": "osxkeychain",
  "detachKeys": "ctrl-@,ctrl-@",
  "plugins": {}
}
