{
  "auths": {},
  "detachKeys": "ctrl-@,ctrl-@",
  "credsStore": "osxkeychain",
  "currentContext": "colima",
  "cliPluginsExtraDirs": [
    "{{ (output "brew" "--prefix" | trim) }}/lib/docker/cli-plugins",
    "{{ .chezmoi.homeDir }}/.docker/cli-plugins"  ]
}
